[{:name "Pardeep"
  :in-next-rotation? false
  :prev-rotation-week 32
  :constraints []}
 {:name "Pavitra"
  :in-next-rotation? false
  :prev-rotation-week 33
  :constraints []}
 {:name "Amogh"
  :in-next-rotation? true
  :prev-rotation-week 34
  :constraints [[2 :hard :feature_work]]}
 {:name "Daniel"
  :in-next-rotation? true
  :prev-rotation-week 35
  :assist "Shantanu"
  :constraints []}
 {:name "Mangal"
  :in-next-rotation? true
  :prev-rotation-week 36
  :assist "Shalaka"
  :constraints []}
 {:name "Setia"
  :in-next-rotation? true
  :prev-rotation-week 37
  :assist "Mourjo"
  :constraints []}
 {:name "Shantanu"
  :in-next-rotation? true
  :prev-rotation-week 38
  :constraints [[2 :hard :feature_work]]
  :manually-set-next-rotation 3}
 {:name "Suvrat"
  :in-next-rotation? true
  :prev-rotation-week 39
  :constraints [[2 :hard :leave]
                [3 :hard :leave]
                [4 :hard :leave]]}
 {:name "Somya"
  :in-next-rotation? true
  :prev-rotation-week 40
  :constraints [[2 :hard :leave]]}
 {:name "Shalaka"
  :in-next-rotation? true
  :prev-rotation-week 41
  :constraints []}
 {:name "Mourjo"
  :in-next-rotation? true
  :prev-rotation-week 42
  :constraints []}
 {:name "Vedang"
  :in-next-rotation? false
  :prev-rotation-week 43
  :constraints [[1 :soft :leave]]}
 {:name "Neha"
  :in-next-rotation? true
  :prev-rotation-week 44
  :constraints []}
 {:name "Faiz"
  :in-next-rotation? true
  :prev-rotation-week 45
  :constraints []}
 {:name "Harsh"
  :in-next-rotation? true
  :prev-rotation-week 46
  :constraints [[3 :soft :leave]
                [4 :hard :leave]
                [5 :hard :leave]]}
 {:name "Ramya"
  :in-next-rotation? true
  :prev-rotation-week 47
  :constraints [[1 :soft :leave]
                [5 :hard :leave]
                [6 :hard :leave]]}
 {:name "Samuel"
  :in-next-rotation? true
  :prev-rotation-week 48
  :constraints []}
 {:name "Rubal"
  :in-next-rotation? true
  :prev-rotation-week 49
  :constraints [[1 :hard :leave]
                [2 :hard :leave]]}
 {:name "Daniel"
  :in-next-rotation? true
  :prev-rotation-week 50
  :constraints [[14 :hard :leave]
                [15 :hard :leave]
                [16 :hard :leave]
                [17 :hard :leave]]}
 {:name "Mangal"
  :in-next-rotation? true
  :prev-rotation-week 51
  :constraints []}
 {:name "Setia"
  :in-next-rotation? true
  :prev-rotation-week 52
  :constraints []}
 {:name "Ketan"
  :in-next-rotation? true
  :prev-rotation-week 1
  :constraints []}
 {:name "Dinesh"
  :in-next-rotation? false
  :constraints []}
 {:name "Narendra"
  :in-next-rotation? true
  :constraints []}
 {:name "Mihil"
  :in-next-rotation? true
  :constraints []}
 {:name "Pranav"
  :in-next-rotation? true
  :constraints []}]
