[{:name "Harsh"
  :in-next-rotation? true
  :constraints [[21 :hard :leave]
                [23 :hard :leave]
                [24 :hard :leave]
                [25 :hard :leave]]}
 {:name "Amogh"
  :in-next-rotation? true
  :constraints [[21 :hard :feature_work]]}
 {:name "Suvrat"
  :in-next-rotation? true
  :manually-set-next-rotation 21
  :constraints []}
 {:name "Vedang"
  :in-next-rotation? false
  :constraints []}
 {:name "Samuel"
  :in-next-rotation? true
  :constraints []}
 {:name "Nachiket"
  :in-next-rotation? false
  :constraints []}
 {:name "Karan"
  :in-next-rotation? true
  :prev-rotation-week 19
  :constraints []}
 {:name "Anushree"
  :in-next-rotation? true
  :prev-rotation-week 20
  :constraints []}]
